.single-blog {
    position: relative;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.bg-light-blog{
    background-color: #f5f5f5;
}

.single-blog .content h4 {
    font-size: 17px;
    font-weight: 600;
    margin: 8px 0px;
}

.single-blog .content p {
    font-size: 15px;
}

.single-blog .content .blog-btn a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    background: #ff5500;
    padding: 7px 20px;
    border: solid;
    border: 1px solid #ff5500;
    border-radius: 50px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.blog-detail .content .post-meta li {
    list-style: none;
    display: inline-block;
}

.single-blog .content .blog-btn a:hover {
    background: none;
    color: #ff5500;
}

.single-blog .imgbx .date p {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 14px;
    font-size: 14px;
}

.single-blog .imgbx .date {
    position: absolute;
    background: #ff5500;
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    text-align: center;
}

.single-blog .imgbx img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.single-blog .imgbx {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.single-blog:hover {
    -webkit-box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
}

.single-blog .imgbx:hover img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.page-center ul.pagination li {
    width: 35px;
    height: 35px;
    background: #ff55001a;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    margin: 0px 5px;
    transition: all .3s;
    display: inline-block;
    color: #000;
    cursor: pointer;
}

.page-center ul.pagination li {
    background: none;
    border-radius: 0;
}

.page-center ul.pagination li  a{
    color: rgb(126, 133, 155);
}

.page-center ul.pagination li a:hover{
    color: #000;
}

.page-center ul.pagination li.active{
    background: #ff5500;
    color: #fff;
    cursor: no-drop;
}

.page-center ul.pagination {
    display: inline-block;
    margin: 0 auto;
}

.footer-top {
    background-color: #F7F9FE;
    border-bottom: 1px solid #e2e5f1;
    padding: 20px 0 20px;
    border-top: 1px solid #e2e5f1;
}

.footer-top h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
    color: #143250;
}

.footer-top a:hover{
    color: rgb(126, 133, 155);
}

.footer-top p {
    font-size: 14px;
    color: #7e859b;
}

.footer-top i {
    padding: 10px 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #e2e5f1;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
}

.footer-top span {
    font-size: 13px;
    color: #7e859b;
}

.footer-top h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

/* blog detail  */
.blog-detail .content{
    padding: 20px 30px 30px;
}

.blog-detail .content .title{
    font-size: 28px;
    font-weight: 600;
    color: #143250;

}

.blog-detail .content .post-meta {
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.blog-detail .content .post-meta  li a {
    font-size: 14px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    color: rgb(126, 133, 155);
    transition: all 0.3s ease-in;
}

.blog-detail .content .post-meta  li a:hover {
    color: #ff5500;
}

.blog-detail .content p {
    color: #2f3744;
    font-size: 16px;
}

.blog-detail .content h3{
    color: #143250;
    font-size: 26px;
    font-weight: 400;
}

.blog-detail .content .tag-social-link {
    background: #f3f6ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 20px 20px;
}

.blog-detail .content .tag-social-link .social ul li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    margin-left: 2px;
    background: #ff5500;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-detail .content .tag-social-link .social ul li a:hover {
    -webkit-box-shadow: 0px 10px 30px 0px rgb(90 62 241 / 30%);
    box-shadow: 0px 10px 30px 0px rgb(90 62 241 / 30%);
}

.blog-detail .content .tag-social-link .tags h6 {
    font-size: 14px;
    color: #000000;
    display: inline-block;
    margin-bottom: 0px;
    line-height: inherit;
}
.blog-detail .content .tag-social-link .tags a {
    color: #545558;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 0px;
}

.blog-aside .search-form {
    position: relative;
}

.blog-aside .search-form input {
    width: 100%;
    height: 50px;
    border: 2px solid #f2f2f2;
    background: #f7f8fc;
    padding: 0px 50px 0px 20px;
}

.blog-aside .search-form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

.blog-aside .categori {
    border: 1px solid #e5e9f4;
    padding: 22px 30px 22px;
    margin-top: 30px;
}

.blog-aside .categori {
    border: 1px solid #e5e9f4;
    padding: 22px 30px 22px;
    margin-top: 30px;
}

.blog-aside .categori .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #252a32;
    display: block;
    text-align: center;
    margin-bottom: 17px;
}

.blog-aside .categori .separator {
    background: #eeeeee;
    width: 195px;
    height: 2px;
    display: block;
    margin: 0 auto;
}

.blog-aside .categori .categori-list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 17px;
}

.blog-aside .categori .categori-list li {
    list-style: none;
    line-height: 36px;
}

.blog-aside .categori .categori-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    font-size: 13px;
    color: rgb(126, 133, 155);
    transition: all 0.3s ease-in;
}

.blog-aside .categori .categori-list li a:hover, .blog-aside .categori .categori-list li a.active {
    color: #e8582b;
    padding-left: 5px;
}

.blog-aside .categori .post-list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.blog-aside .categori .post-list li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.blog-aside .categori .post-list li .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blog-aside .categori .post-list li .post .post-img {
    margin-right: 20px;
}

.blog-aside .categori .post-list li .post .post-details {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.blog-aside .categori .post-list li .post .post-img img {
    width: 73px;
    height: 59px;
}

.blog-aside .categori .post-list li .post .post-details .post-title {
    font-size: 14px;
    line-height: 20px;
    color: #2f3744;
    font-weight: 400;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.blog-aside .categori .post-list li .post .post-details .date {
    color: #7b8698;
    font-size: 12px;
    margin-bottom: 0px;
}

.blog-aside .categori .post-list li .post .post-details .post-title:hover {
    color: #e8582b;
}

.blog-aside .categori .tags-list {
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 29px;
}

.blog-aside .categori .tags-list li {
    list-style: none;
    display: inline-block;
}

.blog-aside .categori .tags-list li a {
    font-size: 13px;
    text-transform: uppercase;
    padding: 8px 22px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    color: #505b6d;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin-bottom: 15px;
    margin-right: 9px;
}

.blog-aside .categori .tags-list li a:hover {
    background: #ff5500;
    border-color: #ff5500;
    color: #fff;
    -webkit-box-shadow: 0px 10px 10px 0px rgb(245 127 23 / 30%);
    box-shadow: 0px 10px 10px 0px rgb(245 127 23 / 30%);
}

@media only screen and (max-width: 575px){
    .blog-detail .content .tag-social-link {
    display: flow-root;
}}