* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    border: 0;
    outline: 0;
    list-style: none;
}

html {
    overflow-x: clip;
    scroll-behavior: smooth;
}


.rating {
    display: flex;
}

.star {
    cursor: pointer;
    color: gray;
}

span.active {
    color: #ffcc00;
}

span.bg-white.plus,
span.bg-white.minus {
    cursor: pointer;
}

#search_list {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 10;
    margin-top: 45px;
}

#search_list .container {
    border-bottom: 1px solid #ddd;
}

#search_list .container:last-child {
    border-bottom: none;
}

#search_list div {
    padding: 8px;
    cursor: pointer;
}

#search_list .container .row a:hover,
#search_list .container .row a:hover span {
    color: #000;
}

:root {
    --theme-color: #FD6602;
    --white: #fff;
    --light-color: #ddd;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    --black: #000;
    --paragraph: #6a6e83;
    --yellow: #FFA41C;
}

/* wishlist  */

.wishlist-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wishlist-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wishlist-btn svg {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.wishlist-btn.active svg path {
    fill: red;
    transition: all 0.3s ease-in-out;
}

.wishlist-icon {
    display: none;
}

.card:hover .wishlist-icon {
    display: block;
}

/* wishlist end */

/*  image zoom hover*/
.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
    opacity: .8;
    background:rgba(0,0,0,0.5);
}

.img-zoom-container img {
    max-width: 100%;
    z-index: 2000;
    position: inherit;
    opacity: 1;
    margin: auto;
}

.img-zoom-container img:hover {
    cursor: zoom-in;
    opacity: 0;
}

.img-zoom-container #myresult {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    opacity: 0;
    border: 1px solid #d4d4d4;
    /* show the image */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-zoom-container:hover img {
    opacity: 0;
}

.img-zoom-container:hover #myresult {
    display: block;
    opacity: 1;
}

.img-zoom-container:hover #myresult:hover {
    display: block;
}

/* end */

/* utilities start  */
.header-sticky{
    position: sticky !important;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    width: 100%;
    background-color: var(--white);
    padding: 10px;
}

h1 {
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}

h2 {
    font-size: 25px;
    color: var(--black);
    font-weight: 600;
}

.container{
    max-width: 1300px !important;
}

h3 {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
}

h4 {
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
}


textarea {
    resize: none !important;
}

a {
    text-decoration: none !important;
}

.card:hover {
    box-shadow: var(--box-shadow);
}

#pills-tab .nav-link,
#pills-tab2 .nav-link {
    background: none !important;
    color: var(--black) !important;
    border-radius: 0 !important;
    font-size: 18px;
}

#pills-tab .nav-link.active,
#pills-tab2 .nav-link.active {
    border-bottom: 2px solid var(--theme-color);
}

.card-title-price {
    font-size: 20px;
    color: var(--theme-color) !important;
    font-weight: 500;
}

.card-text-para {
    color: var(--paragraph);
    font-size: 16px;
}

p {
    color: var(--paragraph);
    font-size: 16px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}

.card-subtitle {
    font-size: 20px;
    color: var(--black);
}

.card-text {
    color: var(--paragraph);
    font-size: 16px;
}

option{
    background: var(--white);
}

.heading-border {
    position: relative;
    display: block;
    width: 115px;
    height: 5px;
    background: var(--theme-color);
}

.square-block-btn {
    background: var(--theme-color);
    outline: 0;
    text-decoration: none;
    color: var(--white);
    padding: 8px;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
}

.square-sm-btn {
    background: var(--theme-color);
    outline: 0;
    text-decoration: none;
    color: var(--white);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
}

.square-block-btn:hover,
.square-sm-btn:hover,
.pills-block-btn:hover,
.pills-sm-btn:hover {
    background: var(--theme-color);
    color: var(--white);
    box-shadow: var(--box-shadow);
}

.pills-block-btn {
    border: 2px solid var(--theme-color);
    outline: 0;
    text-decoration: none;
    color: var(--black);
    background: var(--white);
    padding: 8px;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 50px;
    font-size: 17px;
}

.pills-sm-btn {
    border: 2px solid var(--theme-color);
    outline: 0;
    text-decoration: none;
    background: var(--theme-color);
    color: var(--white);
    padding: 8px 38px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
}

.addtoCompare {
    font-size: 15px;
    color: var(--black);
    width: 100%;
    display: block;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--theme-color) !important;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--theme-color);
}

.theme-color{
    color: var(--theme-color) !important;
}

/* utilities end  */

/* main CSS start ---------------------------------------- */

/* header start  */
.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -9px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 600px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu .dropdown-submenu h6 {
    color: var(--theme-color);
    font-weight: 600;
    text-transform: uppercase;
}

.category .bx-headphone {
    font-size: 15px;
}

.category .number {
    font-size: 14px;
    margin-bottom: 0;
}

.searchBar input[type=search] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--white);
    color: var(--black);
    font-size: 12px;
    float: left;
    padding: 10px 10px;
    width: 90%;
    border: 2px solid var(--light-color);
    border-right: 0;
}

.searchBar #searchProduct{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--theme-color);
    color: var(--white);
    font-size: 15px;
    float: left;
    width: 10%;
    padding: 10px 10px;
}

.category .megamenu ul {
    padding-left: 1rem !important;
}

.category .dropdown-left>.dropdown-menu::before {
    content: "";
    transform: rotate(45deg);
    width: 44px;
    height: 44px;
    border: 2px solid #eee;
    background-color: #fff;
    position: absolute;
    left: 40%;
    border-radius: 4px;
    z-index: -1;
    top: -6px;
}

form.searchBar::after {
    content: "";
    clear: both;
    display: table;
}

.sb-sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    z-index: 1000000;
    width: 300px;
    position: fixed;
    top: 0;
    background-color: #fff;
    left: 0;
    transition: 0.5s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4)
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    color: #000;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow i::before {
    content: "\ebc0";
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

/* header end  */


/* banner start  */
/* .main-banner .bannerSwiper .swiper-wrapper .swiper-slide {
    min-height: auto;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-size: 100% 100% !important;
    max-width: 100vw;
}

.main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content span {
    font-size: 15px;
    color: var(--theme-color);
}

.main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content h1 {
    font-size: 45px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}

.main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content p {
    font-size: 16px;
    color: var(--white);
} */


/* hero section start  */

.hero .hero__slider.owl-carousel .owl-item.active .hero__text h6 {
    top: 0;
    opacity: 1;
}

.hero .hero__slider.owl-carousel .owl-item.active .hero__text h1 {
    top: 0;
    opacity: 1;
}

.hero .hero__slider.owl-carousel .owl-item.active .hero__text p {
    top: 0;
    opacity: 1;
}

.hero .hero__slider.owl-carousel .owl-nav button {
    font-size: 36px;
    color: var(--white);
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -18px;
    line-height: 29px;
}

.hero .hero__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 20px;
}

.hero .hero__slider.owl-carousel .hero__items {
    padding: 100px 0px;
    width: 100%;
}

.hero .hero__slider.owl-carousel .hero__items .hero__text h6 {
    color: #e53637;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 28px;
    position: relative;
    top: 100px;
    opacity: 0;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.hero .hero__slider.owl-carousel .hero__items .hero__text h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    top: 100px;
    opacity: 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}

.hero .hero__slider.owl-carousel .hero__items .hero__text p {
    font-size: 16px;
    margin-bottom: 35px;
    position: relative;
    top: 100px;
    color: var(--white);
    opacity: 0;
    -webkit-transition: all, 0.9s;
    -o-transition: all, 0.9s;
    transition: all, 0.9s;
}

.hero .hero__slider.owl-carousel .hero__items .hero__text .shop-now{
    color: var(--white);
    font-size: 18px;
    font-weight: normal;
    border: 2px solid var(--theme-color);
    padding: 10px 20px;
    border-radius: 25px;
}

.hero .hero__slider.owl-carousel .hero__items .hero__text .shop-now:hover{
    background: var(--theme-color);
}


.hero .hero__slider.owl-carousel .bx-left-arrow-alt,
.hero .hero__slider.owl-carousel .bx-right-arrow-alt {
    /* color: var(--white); */
    font-size: 35px;
    font-weight: bold;
}

/* hero section end  */



@media (max-width: 468px) {

    /* hero start  */
    .hero .hero__slider.owl-carousel .owl-nav button{
        display: none;
    }
    /* hero end  */

}



/* banner end  */

/* satisfactory section start  */
.satisfaction-section .main-boxes {
    border: 1px solid var(--light-color);
    border-radius: 5px;
    padding: 10px;
}

.satisfaction-section .main-boxes .box .caption h5 {
    color: var(--black);
    font-size: 20px;
}

.satisfaction-section .main-boxes .box .caption p {
    color: var(--paragraph);
    font-size: 15px;
}

/* satisfactory section end  */

/* notice start  */
.notice-line {
    background-color: var(--theme-color);
    padding: 10px 0;
}

.notice-line p {
    color: var(--white);
    font-size: 18px;
    margin-bottom: 0;
}

/* notice end   */

/* category start  */
.category span {
    color: var(--theme-color);
    font-size: 16px;
}

.category .featured-heading h5 {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0px;
}

.category .featured-heading .fullCatalog {
    color: var(--black);
    font-size: 17px;
    text-decoration: none;
}

.category .featured-heading .fullCatalog:hover {
    color: var(--theme-color);
}

.category .catBoxes .card-footer a {
    color: var(--black);
    font-size: 17px;
    text-decoration: none;
}

/* category end  */

/* landscape section start  */
.landscape h5 {
    font-size: 30px;
    color: var(--black);
}

.landscape .addtoWishList {
    color: var(--black);
    font-size: 19px;
}

/* landscape section end  */


/* hot new arrivals start  */

.new-arrivals .products .card-title {
    font-size: 20px;
    color: var(--theme-color);
}

/* hot new arrivals end  */




/* responsive queries start  */

@media (max-width: 768px) {

    /* utilities start  */
    .square-block-btn,
    .pills-block-btn {
        font-size: 15px;
    }

    /* utilities wnd  */

    /* banner start  */

    .main-banner .bannerSwiper .swiper-wrapper .swiper-slide {
        min-height: auto;
        padding: 35px 0;
        }
    .main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content {
        padding-left: 25px;
    }

    .main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content h1 {
        font-size: 25px;
    }

    .main-banner .bannerSwiper .swiper-wrapper .swiper-slide .content p {
        font-size: 15px;
    }

    /* banner end  */

    .satisfaction-section .main-boxes {
        text-align: center;
    }

    .category .featured-heading {
        text-align: center;
        margin-bottom: 15px;
    }

    /* notice start  */
    .notice-line p {
        font-size: 12px;
    }

    /* notice end  */

    .card.border.border-0.border-start.rounded-0 {
        border: none !important;
    }
}